---
import ActivityGallery from "./ActivityGallery.vue"
import data from '../../data/activitesdata.json'
---

<div
  class="w-full flex flex-col justify-center items-center gap-8 lg:gap-16 lg:px-16 px-4 py-16 lg:pb-32 bg-white"
>
  <h1 class="lg:text-6xl text-2xl font-bold text-center">ACTIVITIES</h1>

  <div class="w-full">
    <ActivityGallery images={data.image}/>
  </div> 
</div>
