---
import CelebrateGallery from "./CelebrateGallery.vue"
import data from '../../data/activitesdata.json'
---

<div
  class="w-full flex flex-col justify-center items-center gap-8 lg:gap-16 lg:px-16 px-4 py-16 pt-0 lg:pt-30 lg:pb-16 bg-white"
>
  <h1 class="lg:text-6xl text-2xl font-bold text-center">CELEBRATE WITH US</h1>
  <p class="text-center text-2xl/10 prata px-10">
    Your extraordinary celebration awaits. We'll turn your special occasion into lasting memories.  </p>

  <div class="w-full">
    <CelebrateGallery images={data.image}/>
  </div> 
</div>
