---
import data from '../../data/reviewdata.json'
import ReviewCard from './ReviewCard.vue'
---

<div
  class="w-full flex flex-col justify-center items-center gap-8 lg:gap-16 lg:px-16 px-4 py-16 lg:pb-32 pt-0"
>
  <h1 class="lg:text-6xl text-2xl font-bold text-center">REVIEWS</h1>

  <div class="w-full overflow-x-auto pb-4 hide-scrollbar">
    <div class="w-full flex lg:flex-row flex-row justify-around items-center gap-8 lg:gap-16 min-w-max px-4">
      {data.reviews.map((review) => (
        <ReviewCard
          review={review}
        />
      ))}
    </div>
  </div>
</div>
