<div
  class="w-full flex flex-col justify-center items-center gap-8 lg:gap-16 lg:px-16 px-4 py-16 lg:pb-0 bg-white"
>
  <h1 class="lg:text-6xl text-2xl font-bold text-center">CONTACT US</h1>

  <p class="prata text-xl text-center">
    Have questions or want to learn more about our properties? <br />
    Reach out to us via our Contact Page or drop us an email at<br />
    <a href="mailto:rudragroupsadm@gmail.com" class="prata font-bold underline">rudragroupsadm@gmail.com</a>.
  </p>

  <a href="mailto:rudragroupsadm@gmail.com">
    <button class="rudrabg text-white text-2l px-8 py-4 rounded-full">
      Contact
    </button>
  </a>.
</div>
