---

---

<footer class="rudrabg text-white p-8">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <h2 class="text-2xl font-bold mb-4">NELLUPURA BY TEJUS</h2>
        <div class="flex items-center mb-3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
            ></path>
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
            ></path>
          </svg>
          <a
            href="mailto:rudragroupsadm@gmail.com."
            class="hover:underline poppins">rudragroupsadm@gmail.com.</a
          >
        </div>
        <div class="flex items-center mb-6">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
            ></path>
          </svg>
          <a href="tel:+919778238199" class="hover:underline poppins"
            >+91 97782 38199</a
          >
  
        </div>
        <p>Follow us on:</p>
        <a href="https://www.instagram.com/nellupurabytejus/">Instagram</a> |
        <a href="https://www.facebook.com/profile.php?id=61573624507968">Facebook</a>
        <p></p>
      </br>
        <p class="text-sm">Policy | Terms of Service</p>
      </div>

      <div>
        <h2 class="text-xl font-bold mb-4">Quick Link</h2>
        <ul class="space-y-2">
          <li><a href="#" class="hover:underline">Experiences</a></li>
          <li><a href="#" class="hover:underline">Gallery</a></li>
          <li><a href="#" class="hover:underline">Stays</a></li>
          <li><a href="#" class="hover:underline">About us</a></li>
          <li><a href="#" class="hover:underline">Contact us</a></li>
        </ul>
      </div>

      <div>
        <h2 class="text-xl font-bold mb-4">Location</h2>

        <div class="overflow-hidden max-w-full h-40 lg:rounded-2xl">
          <iframe
            style="height:100%;width:100%;border:0;"
            src="https://www.google.com/maps/embed/v1/place?q=Thejas+Homes&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
          ></iframe>
        </div>
      </div>
    </div>
    <div>
      <p class="text-center text-sm my-10">
        © 2025 Nellupura by Tejus. All rights reserved.
        <br>
        <br>
        <a href="https://ac-inc.in" class="text-lg lg:text-lg mt-10">Powered by AC Inc.</a>
      </p>
      
    </div>
  </div>
</footer>
