<div class="flex items-center justify-between px-8 py-12 w-screen bg-white ">
  
  <button class="lg:hidden pr-6 pl-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu"><line x1="4" x2="20" y1="12" y2="12"></line><line x1="4" x2="20" y1="6" y2="6"></line><line x1="4" x2="20" y1="18" y2="18"></line></svg>
  </button>
  
  <h1 class="font-bold text-3xl text-right">NELLUPURA BY TEJUS</h1>

  <div class="[&>a]:font-medium [&>a]:text-2xl lg:flex hidden gap-10 ">
    <a href="">Experiences</a>
    <a href="">Gallery</a>
    <a href="">Stays</a>
    <a href="">About Us</a>
    <a href="">Contact</a>
  </div>
</div>
