<div
  class="w-full flex flex-col justify-center items-center gap-8 lg:gap-16 lg:px-64 px-4 py-16 lg:py-32 bg-white"
>
  <h1 class="lg:text-5xl text-2xl font-bold text-center">
    Capture Your Dream Moments at NELLUPURA BY TEJUS Where Every Snapshot Tells
    a Story
  </h1>

  <div class="w-full">
    <div class="block">
      <!-- Desktop full version -->
      <p class="text-center lg:text-2xl/13 prata px-10">
        Are you looking for the perfect backdrop to create memories that last a
        lifetime? At <b>NELLUPURA</b>, we invite you to step into a world where
        elegance, beauty, and nature come together—ideal for your
        next photoshoot.
      </p>
    </div>
  </div>
</div>

<script></script>

<style>
  .collapse-content {
    transition: all 0.3s ease-in-out;
  }
</style>
