<div
  class="w-full flex flex-col justify-center items-center gap-8 lg:gap-16 lg:px-64 px-4 py-16 lg:py-32 bg-white"
>
  <h1 class="lg:text-5xl text-2xl font-bold text-center">ABOUT US</h1>

  <div class="w-full">

    <div class="block">
      <!-- Desktop full version -->
      <p class="text-center lg:text-3xl/10 prata px-10">
        In the heart of Kerala, nestled amidst rolling hills and serene fields,
        Nellupura stands as a transuil village where the golden waves of paddy
        sway in the breeze, telling tales of timeless agriculture and rural
        charm
      </p>
    </div>
  </div>  
</div>

<script>

</script>

<style>
  .collapse-content {
    transition: all 0.3s ease-in-out;
  }
</style>
