---
import AmenitieGrid from "./AmenitieGrid.vue"
---

<div
  class="w-full flex flex-col justify-center items-center gap-8 lg:gap-16 lg:px-64 px-4 py-16 pb-0 "
>
  <h1 class="lg:text-6xl text-2xl font-bold text-center">AMENITIES</h1>

  <div class="w-full">

    <div class="block">
      <!-- Desktop full version -->
      <p class="text-center lg:text-2xl/10 prata px-10">
        Our luxury rooms feature the finest amenities, including plush bedding, elegant interiors, high-speed Wi-Fi, and personalized services for an exceptional stay.
      </p>
    </div>

    <AmenitieGrid />
  </div> 
</div>
